<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <title>Mike's Pizza</title>

    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="../js/greeting.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div id="headerId"></div>
    <navbar id="navId"></navbar>
    <section>
        <h1 id="greeting"></h1>
        <article>
            <p>Delicious pizza, subs, and wings made by the best chef's around!  Many choices of toppings and crusts for
            your pizza to meet the tastes for everyone.  A wide variety of subs that will tickle your tastebuds with flavor.
            Many wings with sauces hot or mild depending on your preference.</p>
            <img src="../img/ItalianGuy.jpg" alt="Italian Guy">
        </article>
    </section>
    <aside>
        <h1>Contact Us Here!</h1>
        <h1>(555)867-5309</h1>
        <h3>345 False Existence Lane</h3>
        <img src="../img/HomePgPizza.jpg" alt="Pizza" padding="40px">
    </aside>
    <div id="footId"></div>
</body>
</html>