<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <title>Mike's Pizza</title>

    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="../js/login.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div id="headerId"></div>
    <navbar id="navId"></navbar>
    <form>
        User Name: <br>
        <input type="text" name="userName" id="userName"><br>
        Password: <br>
        <input type="text" name="password" id="password"> <br>
        <input type="button" id="formSubmit" value="Login">
        <h2 id="message"></h2>
    </form>
    <div id="footId"></div>
</body>
</html>