<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <title>Mike's Pizza</title>

    <script type="text/javascript" src="../js/header.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div id="headerId"></div>
    <navbar id="navId"></navbar>
    <table>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>Small Pepperoni Pizza</td>
            <td>A 10 inch pepperoni pizza made with the best dough, cheese, and pepperoni around.</td>
            <td>12.00</td>
            <td><img src="../img/SmlPepPizza.png" alt="Small Pepperoni Pizza"></td>
        </tr>
        <tr>
            <td>Small Cheese Pizza</td>
            <td>A 10 inch cheese pizza made with the best dough and cheese around.</td>
            <td>10.00</td>
            <td><img src="../img/SmlChzPizza.jpg" alt="Small Cheese Pizza" height="25%"></td>
        </tr>
        <tr>
            <td>Medium Pepperoni Pizza</td>
            <td>A 12 inch pepperoni pizza made with the best dough, cheese, and pepperoni around.</td>
            <td>17.00</td>
            <td><img src="../img/MedPepPizza.jpg" alt="Medium Pepperoni Pizza"></td>
        </tr>
        <tr>
            <td>Medium Cheese Pizza</td>
            <td>A 12 inch cheese pizza made with the best dough and cheese around.</td>
            <td>15.00</td>
            <td><img src="../img/MedChzPizza.png" alt="Medium Cheese Pizza" height="25%"></td>
        </tr>
        <tr>
            <td>Large Pepperoni Pizza</td>
            <td>A 14 inch pepperoni pizza made with the best dough, cheese, and pepperoni around.</td>
            <td>22.00</td>
            <td><img src="../img/LrgPepPizza.png" alt="Large Pepperoni Pizza" height="25%"></td>
        </tr>
        <tr>
            <td>Large Cheese Pizza</td>
            <td>A 14 inch cheese pizza made with the best dough and cheese around.</td>
            <td>20.00</td>
            <td><img src="../img/LrgChzPizza.png" alt="Large Cheese Pizza" height="25%"></td>
        </tr>
        <tr>
            <td>Whole Italian Sub</td>
            <td>A 12 inch Italian sub made with ham, pepperoni, salami, cheese, lettuce, and onions.</td>
            <td>7.00</td>
            <td><img src="../img/WholeSub.png" alt="12 Inch Italian Sub"></td>
        </tr>
        <tr>
            <td>Half Italian Sub</td>
            <td>A 6 inch Italian sub made with ham, pepperoni, salami, cheese, lettuce, and onions.</td>
            <td>4.50</td>
            <td><img src="../img/HalfSub.jpeg" alt="6 Inch Italian Sub" height="25%"></td>
        </tr>
        <tr>
            <td>Whole Steak Sub</td>
            <td>A 12 inch steak sub made with steak and cheese.</td>
            <td>7.00</td>
            <td> <img src="../img/WholeStkSub.png" alt="12 Inch Steak Sub" height="25%"></td>
        </tr>
        <tr>
            <td>Half Steak Sub</td>
            <td>A 6 inch steak sub made with steak and cheese.</td>
            <td>4.50</td>
            <td><img src="../img/HalfStkSub.jpg" alt="6 Inch Steak Sub"></td>
        </tr>
        <tr>
            <td>One Dozen Chicken Wings</td>
            <td>One dozen chicken wings that come with many different choices of sauces.</td>
            <td>16.50</td>
            <td><img src="../img/DozWings.jpg" alt="Chicken Wings" height="35%"></td>
        </tr>
        <tr>
            <td>Half Dozen Chicken Wings</td>
            <td>A half dozen chicken wings that come with many different choices of sauces.</td>
            <td>9.50</td>
            <td><img src="../img/HalfDozWings.jpg" alt="Chicken Wings"></td>
        </tr>
    </table>
    <div id="footId"></div>
</body>
</html>